@import url("https://fonts.googleapis.com/css?family=Bitter");
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/spacebattle-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.bottom-header {
  position: absolute;
  background-color: #442b48;
  width: 60vw;
  height: 8vh;
  bottom: 10vh;
  left: 20vw;
  right: 20vw;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 3s ease-in-out;
}
.bottom-header p {
  color: white;
  font-family: "Bitter", serif;
  font-size: 2vw;
}
